# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://pokahkejkjwjrdxochda.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBva2Foa2Vqa2p3anJkeG9jaGRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzMDY0OTMsImV4cCI6MjA4OTg4MjQ5M30.MrH7ZF5rMHakCFPVX2uRz_ArzepuCDQNvJHym_OB2_s
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ra1ZD7iIGVgnMxaijbTO3Q_4rsqmFW-

# Gemini API Key
NEXT_PUBLIC_GEMINI_API_KEY=your-gemini-api-key
